@use '../base/typo';
@use '../abstracts/variables';

.trending-section, .market-section{
  a{
    text-decoration: none;
  }
}


.trending-cons-list {
  display: grid;
}

.trending-cons-list > * + * {
  border-top: 1px solid black;
}

.coin-info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding-block: 0.75rem;
  text-decoration: none;
  color: black;
}

.trending-section{
  .coin-info{
    display: flex;
    justify-content: space-between;
  }
}


.coin-info__name{
  justify-self: start;

  display: flex;
  align-items: center;
  gap: 1rem;

  a{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: inherit;
  }

  img{
    width: 2rem;
  }
}

.coin-info__save {
  justify-self: end;

  button:disabled{
    background-color: variables.$clr-primary-700;
  }
}

// prices
.price-up{
  color: green;
}
.price-down{
  color: red;
}

// coin Page
.coin-page__header{
  display: flex;
  align-items: center;
  gap: 1rem;
}